* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #ff9a4b;
  height: 50px;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.item-box {
  width: 300px;
  background-color: #eeeeee;
  margin-right: 30px;
  position: relative;
}

.item-box:last-child {
  margin-right: 0;
}

.img1 {
  background-image: url(img/flow01.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
  margin: 10px 10px 15px 10px;
}

.img2 {
  background-image: url(img/flow02.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
  margin: 10px 10px 15px 10px;
}

.img3 {
  background-image: url(img/flow03.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
  margin: 10px 10px 15px 10px;
}

.step-num {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: white;
}

.title {
  margin-bottom: 5px;
}

footer {
  background-color: #aaaaaa;
  height: 50px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    display:block;
  }
}

.item-box {
  width: 90%;
  margin-bottom: 20px;
}

.item-box:last-child {
  margin-bottom: 0;
}

.img1 {
  width: 90%;
  height: 150px;
}

.img2 {
  width: 90%;
  height: 150px;
}

.img3 {
  width: 90%;
  height: 150px;
}
